/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    //
    // LOCAL MODULE OPTIONS
    //

    withName: BCFTOOLS_MPILEUP {
        ext.args   = "-EI -q 30 --ignore-RG --ff UNMAP,SECONDARY,QCFAIL,DUP,SUPPLEMENTARY -d 9999 -a AD -x"
        ext.args2  = "-vc -p 2"
        ext.args3  = ""
        publishDir = [
            path:  {"${params.outdir}/${meta.id}"},
            pattern: "{noting}",
            mode: params.publish_dir_mode
        ]
    }
    withName: MPILEUP_COMPARE {
        ext.args   = "-ABI --ignore-RG -Q 0 -q 1"
        publishDir = [
            path: {"${params.outdir}/${meta.id}"},
            pattern: "{noting}",
            mode: params.publish_dir_mode
        ]
    }
    withName: FILTER_STRAND_BIAS {
        ext.args   = "--minVac=3 --minVaf=0.03 --minVacPS=2"
        publishDir = [
            path: {"${params.outdir}/${meta.id}"},
            pattern: "noting",
            mode: params.publish_dir_mode
        ]
    }

    withName: FILE_CONCATENATOR {
        publishDir = [
            path: {"${params.outdir}/${meta.id}"},
            pattern: "*.{vcf.gz, vcf.gz.tbi}",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ANNOTATE_VCF|ANNOVAR|ANNOTATION_PIPES|SNV_RELIABILITY_PIPE' {
        publishDir = [
            path: {"${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode
        ]
    }
    withName: 'CONFIDENCE_ANNOTATION' {
        ext.args   = "-t 500"
        publishDir = [
            path: {"${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode
        ]
    }
}
//
// Don't publish results for these processes
//
process {    
    withName: 'GREP_SAMPLENAME' {
        publishDir = [
            path: { "${params.outdir}/test" },
            enabled: false
        ]
    }
}
