/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,singularity
        nextflow run main.nf -profile test,docker    
----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact     = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'Test profile for CI/CD test'
    config_profile_description = 'Use test dataset and test profile for pytest on github actions'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 30
    max_memory = '250.GB'
    max_time   = '48.h'

    // Input data
    input       = "${projectDir}/seq2_testdata_snv/samplesheet_test.csv"

    // workflow parameters
    outdir      = "${projectDir}/results"

    // Post Processes
    runSNVAnnotation           = false
    runArtifactFilter          = false
    generateExtendedQcPlots    = false 
    runSNVDeepAnnotation       = false
    runSNVVCFFilter            = false
    skip_multiqc               = false
    runCompareGermline         = false
    runplots                   = false
    runpurest                  = false
    runcontigs                 = "NONE"

    // Reference Files //
    genome                     = "GRCh38"

}

// Enable container engines/virtualisation envs for CI testing
// only works when specified with the profile ENV
// otherwise tests can be done with the regular provided profiles
if (System.getenv('PROFILE')) {
    if ("$PROFILE" == "docker") {
        conda.enabled                            = false
        docker.enabled                           = true
        docker.userEmulation                     = { params.use_gatk_spark ? false : true }.call()
        charliecloud.enabled                     = false
        podman.enabled                           = false
        shifter.enabled                          = false
        singularity.enabled                      = false
    } else if ("$PROFILE" == "singularity") {
        conda.enabled                            = false
        params.singularity_pull_docker_container = false
        singularity.autoMounts                   = true
        singularity.enabled                      = true
        charliecloud.enabled                     = false
        docker.enabled                           = false
        podman.enabled                           = false
        shifter.enabled                          = false
    }
}
process {
   withName:'BCFTOOLS_MPILEUP'{
        cpus            = { check_max( 2 * task.attempt, 'cpus' ) }
        memory          = { check_max( 6.GB * task.attempt, 'memory' ) }
   }
   withName:'FILE_CONCATENATOR'{
        cpus            = { check_max( 2 * task.attempt, 'cpus' ) }
        memory          = { check_max( 6.GB * task.attempt, 'memory' ) }
   }
}

