/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_igenomes_38,singularity --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact     = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'Test profile for DKFZ cluster'
    config_profile_description = 'Test dataset for to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 30
    max_memory = '250.GB'
    max_time   = '48.h'

    // Input data
    input  = 'testdata_hg37/samplesheet_37.csv'

    // workflow parameters
    outdir                     = "results"

    // Post Processes
    runSNVAnnotation           = true
    runArtifactFilter          = true
    generateExtendedQcPlots    = true 
    runSNVDeepAnnotation       = false
    runSNVVCFFilter            = true
    skip_multiqc               = false
    runCompareGermline         = true

    // Reference Files //
    genome                     = "GRCh37"
    chr_prefix                 = ""

    // Annovar
   // Annovar
    annovar_path               ="/omics/odcf/reference_data/legacy/ngs_share/annovar/annovar_Feb2016"
    buildver                   = "hg19"
    dbtype                     = "wgEncodeGencodeCompV19"
    segdupcol                  = "SEGDUP"
    cytobandcol                = "CYTOBAND"
    geneannocols               = '"ANNOVAR_FUNCTION,GENE,EXONIC_CLASSIFICATION,ANNOVAR_TRANSCRIPTS"'

    data_path                  ="/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes"

  // Annotation files
    k_genome                   ="${params.data_path}/databases/1000genomes/ALL.wgs.phase1_integrated_calls.20101123.snps_chr.vcf.gz"
    dbsnp_snv                  ="${params.data_path}/databases/dbSNP/dbSNP_147/00-All.SNV.vcf.gz"
    local_control_wgs          ="${params.data_path}/databases/LocalControls/ExclusionList_2019/MPsnvs_PLindels/ExclusionList_2019_HIPO-PCAWG_MP_PL_WGS.SNVs.AFgt1.vcf.gz"
    local_control_wes          ="${params.data_path}/databases/LocalControls/ExclusionList_2019/MPsnvs_PLindels/ExclusionList_2019_H021_MP_PL_WES.SNVs.AFgt1.vcf.gz"
    gnomad_genomes             ="${params.data_path}/databases/gnomAD/gnomad_v2.1/gnomad.genomes.r2.1.sites.SNV.vcf.gz"
    gnomad_exomes              ="${params.data_path}/databases/gnomAD/gnomad_v2.1/gnomad.exomes.r2.1.sites.SNV.vcf.gz"

    // SNV reability files
    repeat_masker              ="${params.data_path}/databases/UCSC/Sept2013/UCSC_27Sept2013_RepeatMasker.bed.gz"
    dac_blacklist              ="${params.data_path}/databases/UCSC/DACBlacklist_chr.bed.gz"
    duke_excluded              ="${params.data_path}/databases/UCSC/DukeExcluded_chr.bed.gz"
    hiseq_depth                ="${params.data_path}/databases/UCSC/HiSeqDepthTop10Pct_chr.bed.gz"
    self_chain                 ="${params.data_path}/databases/UCSC/selfChain_chr.bed.gz"
    mapability_file            ="${params.data_path}/databases/UCSC/wgEncodeCrgMapabilityAlign100mer_chr.bedGraph.gz"
    simple_tandemrepeats       ="${params.data_path}/databases/UCSC/repeats/SimpleTandemRepeats_chr.bed.gz"

}


// Perform work directory cleanup when the run has succesfully completed
 cleanup = true

// Reduce the job submit rate to about 5 per second, this way the server won't be bombarded with jobs
executor {
    submitRateLimit = '3 sec'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "-B /omics/groups"
}
env {
    SINGULARITY_CACHEDIR="/omics/groups/OE0246/shared/nf_cache_dir"
    SINGULARITY_LIBRARYDIR="/omics/groups/OE0608/internal/kubran/singularity/library"
}

process {
  executor = 'lsf'
  scratch = '$SCRATCHDIR/$LSB_JOBID'

}
executor {
  name = 'lsf'
  perTaskReserve = false
  perJobMemLimit = true
  queueSize = 10
  }



withName:'CUSTOM_DUMPSOFTWAREVERSIONS|SET_CHR|CHECK_IF_CORRUPTED|GREP_SAMPLENAME|JSON_REPORT|MERGE_PLOTS|SAMPLESHEET_CHECK' {
    cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
    memory          = { check_max( 1.GB * task.attempt, 'memory' ) }
}
withName: 'MULTIQC' {
    cpus            = { check_max( 4 * task.attempt, 'cpus' ) }
    memory          = { check_max( 12.GB * task.attempt, 'memory' ) }
}
withName: '*MPILEUP*' {
    cpus            = { check_max( 2 * task.attempt, 'cpus' ) }
    memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
    time            = { check_max( 32.h   * task.attempt, 'time'    ) }
}
withName: 'TRIPLET_PLOTTER' {
    time            = { check_max( 32.h   * task.attempt, 'time'    ) }
}
withName: 'ANNOTATE_VCF|ANNOTATION_PIPES|FILTER_PEOVERLAP' {
    cpus            = { check_max( 8 * task.attempt, 'cpus' ) }
    memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
    time            = { check_max( 32.h   * task.attempt, 'time'    ) }
}

